@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import "./styles/base.css";
@import "./styles/animations.css";
@import "./styles/themes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  h1 {
    @apply font-londrina text-8xl text-light-text dark:text-dark-text transition;
  }
  h2 {
    @apply font-londrina text-3xl;
  }
  h3 {
    @apply font-londrina text-3xl text-light-text dark:text-dark-text font-bold;
  }
  h4 {
    @apply font-londrina text-2xl text-light-text dark:text-dark-text font-bold;
  }
  
  p {
    @apply font-unica text-light-text dark:text-dark-text transition;
  }
  .link {
    @apply font-unica text-dark-darkBackground dark:text-light-background transition underline italic;
  }
  span {
    @apply font-unica italic text-light-text dark:text-dark-text transition px-2 bg-light-accent dark:bg-dark-accent rounded-lg;
  }
  button {
    @apply font-unica h-9 rounded-md text-dark-text dark:text-light-text transition hover:scale-105;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #F2C288;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  width: 10px;
  border: 1px solid black;
}